* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  /* background-color: $body-color; */
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

/*Bỏ đấu chấm của thẻ li*/
li {
  list-style-type: none;
}
.header {
}

.carousel {
  background-image: url(../img/home_slider.jpg);
  background-size: cover;
  background-position: center;
  height: 65rem;
  display: flex;
  // chỉ dùng flex-direction khi có nhiều phần tử
  // space-around: căn đều 2 bên khoảng trống ở giữa nhiều hơn
  // flex-direction: column;
  align-items: center; // đưa nd vào giữa căn đều 2 bên trên dưới
  justify-content: center; // đưa nd vào giữa căn đều 2 bên trai phải
}
