@font-face {
  font-family: "Roboto-Black", sans-serif;
  src: url(../font/Roboto-Black.ttf);
}

$primary-color: #e62b4a;

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Roboto-Black", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  /* background-color: $body-color; */
  position: relative;
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

/*Bỏ đấu chấm của thẻ li*/
li {
  list-style-type: none;
}

.container {
  // Nếu mà nhỏ hơn thì max của nó vẫn là 106rem
  // No sẽ tạo ra cái thùng chứa nội dung vào bên trong với width ko vượt quá 106rem;
  max-width: 106rem;
  margin: auto;
  // background-color: #000;
  padding: 0 0.5rem;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2.3rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  & .container {
    display: flex;
    width: 75%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }

  & .header__logo {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;

    &:hover {
      color: $primary-color;
      transition: all 0.2s ease;
    }
  }

  & .navbar {
    & a:first-child {
      color: $primary-color;
    }

    & a {
      color: #fff;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin-right: 1.25rem;

      &:hover {
        color: $primary-color;
        transition: all 0.2s ease;
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
  }
}

.carousel {
  background-image: url(../img/home_slider.jpg);
  background-size: cover;
  background-position: center;
  height: 59rem;
  display: flex;
  // chỉ dùng flex-direction khi có nhiều phần tử
  // space-around: căn đều 2 bên khoảng trống ở giữa nhiều hơn
  flex-direction: row;
  align-items: center; // đưa nd vào giữa căn đều 2 bên trên dưới
  justify-content: center; // đưa nd vào giữa căn đều 2 bên trai phải

  & .carousel__content {
    text-align: center;

    & h1 {
      font-size: 7.5rem;
      color: #fff;
      font-weight: 700;
      line-height: 9rem;
      margin-top: -0.1rem;
    }
    & p {
      font-size: 2.5rem;
      font-weight: 500;
      color: #fff;
    }

    & button {
      padding: 1.3rem 2.8rem;
      background-color: $primary-color;
      color: #fff;
      border: 1px solid transparent;
      letter-spacing: 1px;
      // margin-top: -5rem;
      // margin-top: -5rem;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
        transition: all 0.3s ease;
      }
    }

    & i {
      margin-top: 4rem;
      color: #fff;
      font-size: 3rem;
      animation: fade 1s infinite normal ease;
    }
  }
}

.service {
  background-color: #000;
  height: 64rem;
  padding: 1.5rem 0;
  text-align: center;

  & .title {
    color: white;
    // margin-top: đẩy cái nội dung cách xuống 7rem
    margin-top: 7rem;

    & p:first-of-type {
      color: $primary-color;
      margin-bottom: 2rem;
      font-size: 1.4rem;
    }

    & h2 {
      font-size: 4.5rem;
      font-weight: 400;
    }

    & p:last-of-type {
      color: #888;
      margin-bottom: 2.5rem;
      margin-top: 3rem;
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 1.2px;
    }
  }

  & .slick-list {
    display: flex;
    // padding: 0 2rem;
    height: 100%;

    & .item {
      width: 20%;
      padding: 0 0.7rem;

      & .content {
        background-color: #fff;
        padding: 7rem 1.8rem;
        height: 20rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #888;

        & p {
          font-size: 1.5rem;
          line-height: 2rem;
        }

        & i {
          font-size: 4.5rem;
        }

        &::after {
          // cái quan trọng khi sử dụng after và before;
          content: "";
          width: 0.5rem;
          height: 0;
          background-color: $primary-color;
          position: absolute;
          top: 0;
          right: 0;
          // tăng độ mượt cho thanh trượt đỏ
          transition: height 0.2s linear;
        }

        &:hover::after {
          // bằng chiều cao của thẻ cha chứa nó
          height: 100%;
        }
      }
    }
  }
}

.showcase {
  margin-top: 8rem;
  height: 60rem;

  & header {
    text-align: center;
    margin-bottom: 5rem;
    // margin-top: 20rem;
  }

  & .title {
    padding: 0 0.7rem;

    & p:first-of-type {
      font-size: 1.4rem;
      color: #888;
      margin-bottom: 1.3rem;
    }

    & h2 {
      font-size: 4.5rem;
      font-weight: 400;
      margin-bottom: 2.5rem;
    }

    & p:last-of-type {
      color: #888894;
      font-weight: 500;
      line-height: 2.5rem;
    }
  }

  & .showcase__container {
    display: flex;
    flex-wrap: wrap;

    & .showcase__item {
      width: calc(100% / 3);
      // height: 40.08rem;
      margin-bottom: 2rem;
      padding: 0 1rem;
      // height: 30rem;
      // transform: scale(1, 1.2);

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%) contrast(50%);
        display: block;
      }

      & .content {
        position: relative;
        box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.5);

        & .showcase__overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba(230, 43, 74, 0.6);
          // display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 2rem;
          display: flex;
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s linear;

          & .showcase__icons {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            // dùng position relative cho thẻ icons, tại vì nó không phụ thuộc vào thẻ nào
            position: relative;
            top: 1rem;
            transition: all 0.3s linear;

            & i {
              width: 2.5rem;
              height: 2.5rem;
              font-size: 1rem;
              background-color: #fff;
              text-align: center;
              line-height: 2.5rem;
              margin-bottom: 0.5rem;

              &:hover {
                background-color: #000;
                transition: all 0.5s linear;
                color: #fff;
              }

              & i:nth-of-type(1) {
                margin-top: -5rem;
              }
            }
          }

          & .showcase__text {
            position: relative;
            top: 1rem;
            transition: all 0.3s linear;

            & p {
              color: #ccc;
              font-size: 1.4rem;
              font-weight: 600;
              margin-bottom: 1rem;
            }

            & h3 {
              color: #fff;
              font-size: 1.5rem;
              font-weight: 600;
            }
          }

          &:hover .showcase__icons {
            top: 0;
          }

          &:hover .showcase__text {
            top: 0;
          }
        }

        &:hover .showcase__overlay {
          opacity: 1;
          visibility: visible;
          // display: flex;
          transition: all 0.7s linear;
        }
      }
    }
  }
}

.blog {
  margin-top: 22rem;
  background-color: #f3f3f3;
  height: 178rem;
  // margin-bottom: 10rem;

  & header {
    text-align: center;
    height: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .title {
      & p:first-of-type {
        color: #888;
        font-size: 1.4rem;
      }

      & h2 {
        font-size: 4.5rem;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
      }

      & p:last-of-type {
        font-weight: 500;
        color: #888894;
        line-height: 2.5rem;
      }
    }
  }

  & .blog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-gap: 1rem;
    // grid-template-areas: "h1 h1 h2 h3";

    & .blog__item:first-child {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }

    & .blog__item:last-child {
      grid-column: 3 / span 2;
      grid-row: 3 / span 2;
    }
    & .blog__content {
      position: relative;
      overflow: hidden;
      & img {
        width: 100%;
        display: block;
        transform: scale(1);
        transition: all 0.2s linear;
      }

      & figure {
        position: relative;
      }

      & figcaption {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 110;

        & p {
          font-size: 1.3rem;
          text-align: center;
        }

        & h1 {
          font-size: 2rem;
        }
      }

      & .blog__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(94, 89, 89, 0.5);
        z-index: 100;
      }

      &:hover img {
        transform: scale(1.2);
      }
    }
  }
}

.number {
  background-color: #000;
  padding: 10rem 0 22rem;
  height: 43.7rem;
  // color: white;

  & .number__content {
    width: 70%;
    margin: 0 auto; // căn giữa
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  & .number__item {
    width: 25%;
    border-right: 2px solid #888;
  }

  & .number__item:last-of-type {
    border-right: none;
  }

  & .counter {
    font-size: 6rem;
    color: white;
    font-weight: 300;
  }

  & .number__item p:last-of-type {
    font-size: 2rem;
    color: #888;
    margin-top: 1rem;
  }
}

.trust {
  // margin-top: 10rem;
  height: 55.1rem;

  & .trust__content {
    width: 75%;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  & .trust__left {
    width: 72%;
    height: 65rem;
    position: absolute;
    top: -21rem;
    left: 0;
    z-index: 1;

    & img {
      width: 100%; // bằng 100% thẻ cha nó
      height: 100%; // 65rem;
      object-fit: cover;
      filter: grayscale(100%) contrast(50%);
    }
  }

  & .trust__right {
    width: 60%;
    padding: 9.5rem 0 9.5rem 9.5rem;
    position: relative;
    z-index: 2;
    background-color: #fff;

    & h2 {
      font-size: 4.5rem;
      color: black;
      font-weight: 400;
    }

    & p {
      font-size: 1.8rem;
      line-height: 3rem;
      color: #888;
      margin: 4.5rem 0;
    }

    & .btnMei {
      padding: 1.9rem 4rem;
      background-color: black;
      color: white;
      letter-spacing: 1px;
      font-weight: 300;

      &:hover {
        cursor: pointer;
        // opacity: 0.9;
        background-color: $primary-color;
        transition: all 0.4s linear;
        border: 1px solid transparent;
      }
    }
  }
}

.experience {
  padding: 6rem 0;
  background-image: url(../img/bussiness_img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  & header {
    color: white;
    // margin-top: đẩy cái nội dung cách xuống 7rem
    text-align: center;
    margin-top: 3rem;

    & p:first-of-type {
      color: $primary-color;
      margin-bottom: 2rem;
      font-size: 1.4rem;
      font-weight: 300;
    }

    & h2 {
      font-size: 4.5rem;
      font-weight: 400;
    }

    & p:last-of-type {
      color: #888;
      margin-bottom: 2.5rem;
      margin-top: 3rem;
      font-size: 1.5rem;
      font-weight: 500;
      // letter-spacing: 1.2px;
      line-height: 2.2rem;
    }
  }
}

.contact {
  padding: 12rem 0;

  & header {
    text-align: center;
    margin-bottom: 3rem;

    & h2 {
      margin-bottom: 3rem;
      font-size: 5rem;
      font-weight: 400;
    }
  }

  & .contact__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto 0;
    width: 100%;

    & .contact__map {
      width: 60%;
      height: 100%;

      & iframe {
        width: 100%;
      }
    }

    & .contact__form {
      // margin-left: 2rem;
      width: 40%;

      & form {
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        // justify-content: space-between;
        padding: 0 1.5rem;
      }

      & input,
      textarea {
        font-size: 1.5rem;
        padding: 1rem;
        border: 1px solid #888;
        border-radius: 2px;
        margin-bottom: 3rem;
      }

      & .btnMei {
        padding: 2rem 1rem;
        background-color: black;
        color: white;
        letter-spacing: 2px;

        &:hover {
          cursor: pointer;
          background-color: $primary-color;
          transition: all 0.3s linear;
          border: 1px solid transparent;
        }
      }
    }
  }
}

.footer {
  background-color: #000;
  height: 100%;

  & .footer__content {
    margin: 0 auto;
    padding: 10rem 0;
    color: white;
    @include flexbox(center, space-between);

    & p {
      font-size: 1.4rem;
    }

    & a {
      display: inline-block;
      width: 5.4rem;
      height: 5.4rem;
      border-radius: 50%;
      line-height: 5.4rem;
      background-color: rgba(255, 255, 255, 0.2);
      margin-left: 5px;
      font-size: 1.6rem;
      text-align: center;
      color: #fff;
      transition: all 0.3s linear;

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

.backToTop {
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
  font-weight: bold;
  color: #fff;
  // position fixed căn chỉnh theo thằng cha của nó
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 2rem;

  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

// Keyframes cho Arrow bounce Carousel
@keyframes fade {
  100% {
    opacity: 0;
    transform: translate(0, 100%);
  }
}
