@charset "UTF-8";
@font-face {
  font-family: "Roboto-Black", sans-serif;
  src: url(../font/Roboto-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  /* background-color: $body-color; */
  position: relative;
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

/*Bỏ đấu chấm của thẻ li*/
li {
  list-style-type: none;
}

.container {
  max-width: 106rem;
  margin: auto;
  padding: 0 0.5rem;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2.3rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header .container {
  display: flex;
  width: 75%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.header .header__logo {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.header .header__logo:hover {
  color: #e62b4a;
  transition: all 0.2s ease;
}
.header .navbar a:first-child {
  color: #e62b4a;
}
.header .navbar a {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-right: 1.25rem;
}
.header .navbar a:hover {
  color: #e62b4a;
  transition: all 0.2s ease;
  cursor: pointer;
}
.header .navbar a:not(:last-child) {
  margin-right: 5rem;
}

.carousel {
  background-image: url(../img/home_slider.jpg);
  background-size: cover;
  background-position: center;
  height: 59rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.carousel .carousel__content {
  text-align: center;
}
.carousel .carousel__content h1 {
  font-size: 7.5rem;
  color: #fff;
  font-weight: 700;
  line-height: 9rem;
  margin-top: -0.1rem;
}
.carousel .carousel__content p {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
}
.carousel .carousel__content button {
  padding: 1.3rem 2.8rem;
  background-color: #e62b4a;
  color: #fff;
  border: 1px solid transparent;
  letter-spacing: 1px;
}
.carousel .carousel__content button:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}
.carousel .carousel__content i {
  margin-top: 4rem;
  color: #fff;
  font-size: 3rem;
  animation: fade 1s infinite normal ease;
}

.service {
  background-color: #000;
  height: 64rem;
  padding: 1.5rem 0;
  text-align: center;
}
.service .title {
  color: white;
  margin-top: 7rem;
}
.service .title p:first-of-type {
  color: #e62b4a;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.service .title h2 {
  font-size: 4.5rem;
  font-weight: 400;
}
.service .title p:last-of-type {
  color: #888;
  margin-bottom: 2.5rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.service .slick-list {
  display: flex;
  height: 100%;
}
.service .slick-list .item {
  width: 20%;
  padding: 0 0.7rem;
}
.service .slick-list .item .content {
  background-color: #fff;
  padding: 7rem 1.8rem;
  height: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #888;
}
.service .slick-list .item .content p {
  font-size: 1.5rem;
  line-height: 2rem;
}
.service .slick-list .item .content i {
  font-size: 4.5rem;
}
.service .slick-list .item .content::after {
  content: "";
  width: 0.5rem;
  height: 0;
  background-color: #e62b4a;
  position: absolute;
  top: 0;
  right: 0;
  transition: height 0.2s linear;
}
.service .slick-list .item .content:hover::after {
  height: 100%;
}

.showcase {
  margin-top: 8rem;
  height: 60rem;
}
.showcase header {
  text-align: center;
  margin-bottom: 5rem;
}
.showcase .title {
  padding: 0 0.7rem;
}
.showcase .title p:first-of-type {
  font-size: 1.4rem;
  color: #888;
  margin-bottom: 1.3rem;
}
.showcase .title h2 {
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
.showcase .title p:last-of-type {
  color: #888894;
  font-weight: 500;
  line-height: 2.5rem;
}
.showcase .showcase__container {
  display: flex;
  flex-wrap: wrap;
}
.showcase .showcase__container .showcase__item {
  width: 33.3333333333%;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
.showcase .showcase__container .showcase__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(50%);
  display: block;
}
.showcase .showcase__container .showcase__item .content {
  position: relative;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.5);
}
.showcase .showcase__container .showcase__item .content .showcase__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(230, 43, 74, 0.6);
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.showcase .showcase__container .showcase__item .content .showcase__overlay .showcase__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: 1rem;
  transition: all 0.3s linear;
}
.showcase .showcase__container .showcase__item .content .showcase__overlay .showcase__icons i {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  background-color: #fff;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}
.showcase .showcase__container .showcase__item .content .showcase__overlay .showcase__icons i:hover {
  background-color: #000;
  transition: all 0.5s linear;
  color: #fff;
}
.showcase .showcase__container .showcase__item .content .showcase__overlay .showcase__icons i i:nth-of-type(1) {
  margin-top: -5rem;
}
.showcase .showcase__container .showcase__item .content .showcase__overlay .showcase__text {
  position: relative;
  top: 1rem;
  transition: all 0.3s linear;
}
.showcase .showcase__container .showcase__item .content .showcase__overlay .showcase__text p {
  color: #ccc;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.showcase .showcase__container .showcase__item .content .showcase__overlay .showcase__text h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
.showcase .showcase__container .showcase__item .content .showcase__overlay:hover .showcase__icons {
  top: 0;
}
.showcase .showcase__container .showcase__item .content .showcase__overlay:hover .showcase__text {
  top: 0;
}
.showcase .showcase__container .showcase__item .content:hover .showcase__overlay {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s linear;
}

.blog {
  margin-top: 22rem;
  background-color: #f3f3f3;
  height: 178rem;
}
.blog header {
  text-align: center;
  height: 31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog header .title p:first-of-type {
  color: #888;
  font-size: 1.4rem;
}
.blog header .title h2 {
  font-size: 4.5rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.blog header .title p:last-of-type {
  font-weight: 500;
  color: #888894;
  line-height: 2.5rem;
}
.blog .blog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.blog .blog__list .blog__item:first-child {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.blog .blog__list .blog__item:last-child {
  grid-column: 3/span 2;
  grid-row: 3/span 2;
}
.blog .blog__list .blog__content {
  position: relative;
  overflow: hidden;
}
.blog .blog__list .blog__content img {
  width: 100%;
  display: block;
  transform: scale(1);
  transition: all 0.2s linear;
}
.blog .blog__list .blog__content figure {
  position: relative;
}
.blog .blog__list .blog__content figcaption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 110;
}
.blog .blog__list .blog__content figcaption p {
  font-size: 1.3rem;
  text-align: center;
}
.blog .blog__list .blog__content figcaption h1 {
  font-size: 2rem;
}
.blog .blog__list .blog__content .blog__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(94, 89, 89, 0.5);
  z-index: 100;
}
.blog .blog__list .blog__content:hover img {
  transform: scale(1.2);
}

.number {
  background-color: #000;
  padding: 10rem 0 22rem;
  height: 43.7rem;
}
.number .number__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.number .number__item {
  width: 25%;
  border-right: 2px solid #888;
}
.number .number__item:last-of-type {
  border-right: none;
}
.number .counter {
  font-size: 6rem;
  color: white;
  font-weight: 300;
}
.number .number__item p:last-of-type {
  font-size: 2rem;
  color: #888;
  margin-top: 1rem;
}

.trust {
  height: 55.1rem;
}
.trust .trust__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.trust .trust__left {
  width: 72%;
  height: 65rem;
  position: absolute;
  top: -21rem;
  left: 0;
  z-index: 1;
}
.trust .trust__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(50%);
}
.trust .trust__right {
  width: 60%;
  padding: 9.5rem 0 9.5rem 9.5rem;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.trust .trust__right h2 {
  font-size: 4.5rem;
  color: black;
  font-weight: 400;
}
.trust .trust__right p {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #888;
  margin: 4.5rem 0;
}
.trust .trust__right .btnMei {
  padding: 1.9rem 4rem;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
}
.trust .trust__right .btnMei:hover {
  cursor: pointer;
  background-color: #e62b4a;
  transition: all 0.4s linear;
  border: 1px solid transparent;
}

.experience {
  padding: 6rem 0;
  background-image: url(../img/bussiness_img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.experience header {
  color: white;
  text-align: center;
  margin-top: 3rem;
}
.experience header p:first-of-type {
  color: #e62b4a;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.experience header h2 {
  font-size: 4.5rem;
  font-weight: 400;
}
.experience header p:last-of-type {
  color: #888;
  margin-bottom: 2.5rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.contact {
  padding: 12rem 0;
}
.contact header {
  text-align: center;
  margin-bottom: 3rem;
}
.contact header h2 {
  margin-bottom: 3rem;
  font-size: 5rem;
  font-weight: 400;
}
.contact .contact__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0;
  width: 100%;
}
.contact .contact__content .contact__map {
  width: 60%;
  height: 100%;
}
.contact .contact__content .contact__map iframe {
  width: 100%;
}
.contact .contact__content .contact__form {
  width: 40%;
}
.contact .contact__content .contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}
.contact .contact__content .contact__form input,
.contact .contact__content .contact__form textarea {
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 2px;
  margin-bottom: 3rem;
}
.contact .contact__content .contact__form .btnMei {
  padding: 2rem 1rem;
  background-color: black;
  color: white;
  letter-spacing: 2px;
}
.contact .contact__content .contact__form .btnMei:hover {
  cursor: pointer;
  background-color: #e62b4a;
  transition: all 0.3s linear;
  border: 1px solid transparent;
}

.footer {
  background-color: #000;
  height: 100%;
}
.footer .footer__content {
  margin: 0 auto;
  padding: 10rem 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer .footer__content p {
  font-size: 1.4rem;
}
.footer .footer__content a {
  display: inline-block;
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  line-height: 5.4rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 5px;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  transition: all 0.3s linear;
}
.footer .footer__content a:hover {
  background-color: #e62b4a;
}

.backToTop {
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 2rem;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

@keyframes fade {
  100% {
    opacity: 0;
    transform: translate(0, 100%);
  }
}
@media screen and (max-width: 768px) {
  .header .navbar {
    display: block;
  }

  .service .item {
    width: 25%;
  }
  .service .list .item:last-child {
    display: none;
  }

  .showcase {
    height: 100%;
  }
  .showcase .showcase__container .showcase__item {
    width: 50%;
  }

  .blog {
    height: 100%;
  }
  .blog .blog__list {
    grid-template-columns: 1fr 1fr;
  }
  .blog .blog__list .blog__item:first-child,
.blog .blog__list .blog__item:last-child {
    grid-column: initial;
    grid-row: initial;
  }
}
.header .navbar__toggle {
  display: none;
}

@media screen and (max-width: 576px) {
  .header .navbar {
    display: none;
  }
  .header .navbar__toggle {
    display: block;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
    border: none;
  }

  .carousel {
    text-align: center;
  }
  .carousel .carousel__content p {
    font-size: 1.5rem;
  }
  .carousel .carousel__content h1 {
    font-size: 4rem;
    margin: none;
  }

  .service {
    height: 100%;
  }
  .service .slick-list {
    flex-direction: column;
  }
  .service .slick-list .item {
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
  }

  .showcase {
    height: 100%;
  }
  .showcase .showcase__container .showcase__item {
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
  }

  .blog {
    height: 100%;
  }
  .blog .blog__list {
    display: block;
  }
  .blog .blog__item {
    width: 100%;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
